*{ 
    /* removes default styling */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*helps with setting a height and width of an element that includes the padding and border */
}

body{
    background-color: rebeccapurple;
    /* ?when to use background-color and background-image for body? */
    font-family: Inter, FontAwesome, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    all: unset;
}

textarea{
    all:unset;
}

ul{
    list-style-type: none;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container__div{
    margin-top: 55px;
    flex: 2;
}


.container__header{
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.logo{
    display: flex;
    font-size: 15px;
    margin-top: 35px;
    color: #FAF9F6;
}
.logo__icon{
    margin-right: 10px;
}
.logo__title{
    font-weight: bold;
}
.logo__title--special{
    font-weight: normal;
}
.title-heading{
    font-size: 35px;
    color: #FAF9F6;
    margin-top: 10px;
}
.title-heading--special{
    font-style: italic;
}

/* section which was previously textareaBottom becomes textarea
textarea becomes textarea__textarea
textareaBottom__characters becomes textarea__textarea--characters
textareaBottom__submit becomes textarea__textarea--submit */
.textarea{
    position: relative;
}
.textarea__textarea{
    width: 575px;
    height: 120px;
    font-size: 18px;
    background-color: #0e1111;
    opacity: 1;
    border-radius: 10px;
    padding: 10px 20px;
    display: block;
    margin-bottom: 30px;
    color: #FAF9F6;
}
.textarea__textarea--characters{
    color: white;
    font-size: 13px;
    position: absolute;
    left: 500px;
    bottom: 395px;
    /* values for half screen
     position: absolute;
    left: 100px;
    bottom: 380px; */
}
.textarea__textarea--submit{
    font-size: 13px;
    padding: 5px 16px;
    background-color: #FAF9F6;
    border-radius: 20px;
   
    position: absolute;
    right: 500px;
    bottom: 395px; 

    /* position: absolute;
    left: 62%;
    bottom: 395px;
    transform: translateX(-50%); */

    /* values for half screen
    position: absolute;
    right: 100px;
    bottom: 380px; */
}

/* .textarea__textarea--submit{
    font-size: 13px;
    padding: 5px 16px;
    background-color: #FAF9F6;
    border-radius: 20px;
    position: absolute;
    right: 500px;
    bottom: 395px; 
    values for half screen
    position: absolute;
    right: 100px;
    bottom: 380px;
} */

/* .textarea{
    width: 575px;
    font-size: 18px;
    background-color: #0e1111;
    height: 120px;
    opacity: 1;
    border-radius: 10px;
    padding: 10px 20px;
}
.textareaBottom{

}
.textareaBottom__characters{
    color: white;
}
.textareaBottom__submit{
    padding: 10px 16px;
    background-color: #FAF9F6;
    border-radius: 16px;

} */


.container__main{
    background-color: #fff;
    width: 850px;
    height: 650px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
}
.feedbacks{

}
.feedback__item{

}

/* END OF CONTAINER */

.company{
    flex: 1;
}
.company__name{
    color: #3b444b;
    padding: 8px 16px;
    margin: 10px;
    background-color: #FAF9F6;
    opacity: 0.2;
    border-radius: 20px;
}
.company__name::before{
    color: grey;
    display: inline-block;
    width: 9px;
}
.company__name::before{
    content: "\f292";
}
.company__name--hashtag{
    
}

.footer{
    writing-mode:vertical-rl;
    transform: rotate(-180deg); /* transform: scale(-1,-1); */
    flex: 1;
}